
html, body {
    -webkit-user-select: none;
    padding: 0;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    background-color: transparent !important;
    font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,sans-serif;
}

html{
    height: 100%;
}

body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f7f7ff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #e1e1e2
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cfcfd1
}

#ui-shadow-box {
    overflow: hidden;
    -webkit-box-shadow: 0 2px 10px #333333;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.fish-logo {
    width: 150px;
    height: 24px;
    margin: 16px 16px;
}

#ui-sys-bar {
    width: 100%;
    height: 58px;
    background: #8D97B0;
}

#ui-sys-commands {
    word-break: keep-all;
    white-space: nowrap;
    transition: all ease-in-out 0.3s;
    display: block;
    width: 90px;
    height: 58px;
    float: right;
    overflow: hidden;
    padding-right: 5px;
}

#ui-sys-commands span {
    height: 16px;
    line-height: 16px;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    color: #D0D1DA;
    display: block;
    opacity: 1;
    transition: all ease-in-out 0.3s;
    float: left;
    cursor: pointer;
    font-size: 16px;
    margin: 21px 6px;
}

#ui-sys-commands span:hover {
    color: #FFF;
}

#ui-sys-commands span:active {
    color: #FFF;
}

#navLeft {
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
    bottom: 70px;
    width: 200px !important;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f9f9f9;
    border-right: 1px solid #D7DCD6;
    padding-bottom: 6px;
}

#navLeft .ivu-menu-item i{
    font-size: 16px;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}

#ui-content{
    display: block;
    position: absolute;
    top: 58px;
    left: 200px;
    bottom: 70px;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FAFAFA;
}

.ivu-menu-vertical.ivu-menu-light:after {
    width: 0 !important;
}

#uiTime {
    height: 5px;
    display: block;
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    background: #E8E8E9;
    cursor: pointer;
}

#uiFooter {
    height: 65px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
}


#jquery_jplayer{
    height: 0;
}

.jp-seek-bar{
    position: relative;
    top:0;
    left: 0;
    height: 5px;
    background-color: #FCE4C7;
}

.jp-play-bar{
    position: relative;
    top:-5px;
    left: 0;
    height: 5px;
    background-color: #FE5E00;
    z-index: 100;
}

.player-controls{
    width: 200px;
    height: 65px;
    display: block;
    margin: 0 auto;
    padding: 7px;
}

.player-controls a i{
    font-size: 31px;
    width: 51px;
    height: 51px;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    border-radius: 50%;
}

.jp-play i, .jp-pause i{
    background: #FE5E00;
    color: #fff;
}

.jp-play i:hover, .jp-pause i:hover{
    background: #F7822A;
}

.jp-next i, .jp-previous i{
    color: #FE5E00;
    margin: 0 5px;
}

.jp-next i:hover, .jp-previous i:hover{
    color: #F7822A;
}

.play-info,.play-control{
    width: 40%;
    height: 65px;
}

.play-control{
    float: right;line-height:65px;text-align: right;vertical-align: middle;
}

.play-control i{
    font-size: 22px;
    width: 30px;text-align: center;cursor: pointer;
}

.play-control i:hover,.ic-list:hover{
    cursor: pointer;
    color: #8D97B0;
}

.play-control .ivu-slider-button-wrap{
    top:-5px;
}

.ivu-slider-button-dragging,.ivu-slider-button:hover {
    border-color: #FE5E00;
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.ivu-slider-button:hover {
    cursor: pointer;
}

.ivu-slider-button-dragging,.ivu-slider-button-dragging:hover {
    cursor: pointer
}

.ivu-menu-vertical .ivu-menu-item-group-title{
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
    color: #7D7D7D;
}

#navLeft .ivu-menu-submenu-title{
    padding: 8px !important;
    color: #7D7D7D;
}

#navLeft .ivu-menu-submenu-title:hover{
    background: none !important;
}

#navLeft .ivu-menu-item-selected{
    background: #ECECEC !important;
    color: #FE5E00 !important;
}

#navLeft .ivu-menu-item{
    padding: 6px 22px !important;
    font-size: 14px;
    color: #5C5C5C;
}

#navLeft .playlist .ivu-menu-item{
    line-height: 19px;
}

#ui-content .ivu-menu-item{
    padding: 3px 2px!important;
    margin-left: 18px;
    font-size: 14px;
}

#ui-content .ivu-menu-horizontal{
    height: 40px;
    line-height: 40px;
}

#ui-content .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
    border-radius: 0;
}

#ui-content .ivu-tabs-nav-scroll{
    padding-left: 30px;
}

#ui-content .search-info{
    padding:20px 30px;
    font-size: 14px;
}

#ui-content .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
    background: #FFFFFF;
}

#ui-content .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab:hover{
    color: #333;
    background: #F2F2F2;
}

#ui-content .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active{
    background: #8D97B0 !important;
    color: #FFFFFF !important;
}

#ui-content .ivu-tabs-nav-container{
    border-bottom: 1px solid #8D97B0;
}

#ui-content .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
    padding: 5px 30px;
}

.ic-list{
    display: inline-block;margin: 0 5px;
}

.ivu-table-small td{
    height: 30px;
}

#search-content .ivu-tabs-bar{
    margin-bottom: 0;
}

#search-content{
    overflow-x: hidden;
}

.playlist{
    font-family: Helvetica, Arial, sans-serif;
}

.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.demo-spin-col{
    height: 100px;
    position: relative;
    border: 1px solid #eee;
}

